<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">
    <title>Document</title>
</head>
<body> 
    <div class="img-baber1"></div>
    <section>
       
        <div class="container-login">
            <div class="cadartro-text"><p>CADASTRO</p></div> 
            <div class="line-cadastro">
                <div class="line"></div>
                <div class="line"></div>
            </div><!-- /.line-login -->
            <div class="input-cadastro">
                <div class="inputs">
                <form>
                    <input type="text" name="nome" id="nome" placeholder="Nome">
                    <input type="text" name="idade" id="idade" placeholder="Idade">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="" id="senha" placeholder="Senha">
                    <button type="submit"><P>Enviar</P></button>   
                </form>
                <div class="line-cadastro">
                    <div class="line"></div>
                    <div class="line"></div>
                </div><!-- /.line-login -->
            </div><!-- /.imputs -->
           
            </div><!-- /.imput-cadastro -->
        </div><!-- /.container-login -->
    </section>

    <script src="cadastro.js"></script>

</body>
</html>